.App{
  padding: 2rem;
  display: flex;
  gap: 3rem;
  height: 96.5vh;

}


.query_result_container{
  width: 60vw;
  display: flex;
  flex-direction: column;
  /* background-color: palegoldenrod; */
}

.history_details_container{
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.details{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}